{
    /* Reset the css for the page */
    margin: 0;
    padding: 0;
}

body
{
    margin: auto auto;
    width: 75%;
    font-family: Arial, Sans-Serif;
}

h1
{
	color: #9C0014;
}

a
{
	color: #9C0014;
	text-decoration: none;
}

a:hover
{
	color: #CC0000;
	text-decoration: underline;
}

.header
{
	height: 150px;
}

.banner
{
	float: left;
	height: 150px;
	width: 55%;
}

.banner img
{
	height: 150px;
	width: 100%;
}

.navigation-bar
{
	float: right;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 40%;
	padding: 4px;
}

.search-bar
{
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid #9C0014;
	height: 30px;
	padding: 5px;
}

.welcome-user
{
	float: left;
	width: 20%;
}

.search-form
{
	float: left;
	width: 70%;
}

.search-form .input
{
	font-size: 1.2rem;
	width: 50%;
}

.main-content
{
	padding: 20px;
	border: 1px solid #9C0014;
}

.user-login
{
	width: 45%;
}

.user-login .input
{
	border: 1px solid #9C0014;
	background: white;
	padding: 1px;
	font-size: 0.8rem;
	width: 50%;
}

.register-form
{
	width: 45%;
}

.register-form .input
{
	border: 1px solid #9C0014;
	background: white;
	padding: 1px;
	font-size: 0.8rem;
	width: 50%;
}

label
{
	display: inline-block;
	font-size: 0.9rem;
	width: 100px;
}

.submit-button
{
	padding: 4px;
	border: 1px solid #9C0014;
	color: #9C0014;
	width: 75px;
	background-color: #FFFFFF;
	font-size: 0.8rem;
	transition: all .1s linear;
   	-o-transition: all .1s linear;
   	-moz-transition: all .1s linear;
   	-webkit-transition: all .1s linear;
}

.submit-button:hover
{
	background-color: #9C0014;
	color: white;
	cursor: pointer;
}