{% extends "pagebase.html" %}
{% block title %}Account{% endblock %}

{% block content %}
<div class="account-settings">
	{% if message %}
	<div class='message'>{{message}}</div> <br />
	{% endif %}
	<h2>Change Password</h2>
	<form method="POST">
		<label>E-Mail: </label><span>{{user.email}}</span><br />
		<label>Password: </label><input type="password" name="password"><br />
		<label>Condfirm Password: </label><input type="password" name="password_confirm"></br />
		<input type="submit" value="Change Details"/>
	</form>
</div>

<h2>Your Listings</h2>
<div class="seller-listings">
	<ul>
	{% for listing in user_listings %}
		<li class="book-listing">
			<img class="listing-image" href="{{ listing.book.image }}" />
			<span class="listing-info">{{ listing.book.title }}</span>
			<span class="listing-author">{{ listing.book.author }}</span>
			<span class="listing-price">{{ listing.price }}</span>
		</li>
	{% endfor %}
	</ul>
</div>

<div class="purchase-history">
<ul>
{% for purchase in purchase_history %}
	<li class="book-listing">
		<img class="listing-image" href="{{ purchase.book.image }}" />
		<span class="listing-info">{{ purchase.book.title }}</span>
		<span class="listing-author">{{ purchase.book.author }}</span>
		<span class="listing-price">{{ purchase.book.price }}</span>
	</li>
{% endfor %}
</ul>
</div>
{% endblock %}
