{% extends "pagebase.html" %}
{% block title %}Account{% endblock %}

{% block content %}
<div class="account-settings">
	<form action="POST">
		<span class="description">E-Mail: </span><span>{{gae_user.email}}</span><br />
		<span class="description">Password: </span><input type="password" name="password"><br />
		<span class="description">Password (confirm): </span><input type="password" name="password_confirm"></br />
		<input type="submit" value="Change Details"/>
	</form>
</div>

<div class="purchase-history">
<ul>
{% for purchase in purchase_history %}
	<li class="book-listing">
        <img class="listing-image" href="{{ purchase.book.image }}" />
		<span class="listing-info">{{ purchase.book.title }}</span>
		<span class="listing-author">{{ purchase.book.author }}</span>
        <span class="listing-price">{{ purchase.book.price }}</span>
	</li>
{% endfor %}
</ul>
</div>

<div class="seller-listings">
<ul>
{% for listing in seller_listings %}
	<li class="book-listing">
        <img class="listing-image" href="{{ listing.book.image }}" />
		<span class="listing-info">{{ listing.book.title }}</span>
		<span class="listing-author">{{ listing.book.author }}</span>
		<span class="listing-price">{{ listing.book.price }}</span>
	</li>
{% endfor %}
</ul>
</div>
{% endblock %}