{% extends "pagebase.html" %}
{% load price %}

{% block title %}Checkout | TexTrader{% endblock %} 
{% block content %}
<h1>Your basket</h1>
<div class='basket'>
<form action='/checkout/update' method='POST'>
<ul>
{% for entry in basket %}
<li>
<div class='listing-entry'>
<span class='basket-remove'><input type='checkbox' name='remove_{{ entry.key }}' value='1' /></span>
<span><img class='listing-image' src='{{ entry.book.picture }}' alt='Book image' /></span>
<span class='listing-title'>{{ entry.book.title }}</span>
<span class='listing-seller'>Seller: {{ entry.user.firstName }} {{ entry.user.lastName }}</span>
<span class='listing-price'>&pound; {{ entry.price|to_price }}</span><br />
<span><a href="/basket/remove/{{ entry.key }}">Remove From Basket</a></span>
</div>
</li>
{% empty %}
<p>You have no items in your basket.</p>
{% endfor %}
</ul>
</form>
<div class='paypal-button'>
<form action="/do_order" method="post">
<input type="submit" value="Commit to buy" class="submit-button" />
</form>
</div>
</div>
{% endblock %}
