{% extends "pagebase.html" %}
{% load price %}

{% block title %}TexTrader - {{ book.title }}{% endblock %}
{% block content %}

<div class="current_book_details">

    <img src="cover" alt="cover">

    <h2>Book Details</h2>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>RRP: &#163;{{ book.rrp|to_price }}</p>
    <p>Publisher: {{ book.publisher }}</p>
    <p>Edition: {{ book.edition }}</p>
    <p>Year: {{ book.year }}</p>
    <p>ISBN: {{ book.isbn }}</p>

    <div class="other_listings">
	    <h2>All listings of this book:</h2>
	    <ul>
	    {% for book in book_listings %}
	        <li class="book-listing">
	            <div class="listing-image">{{ book.image }}<div><span class="listing-info">{{ book.title }}</span>
	            <span class="listing-price">&#163;{{ book_copy.price }}</span><span class="listing-author">{{ book.author }}</span>
	        </li>
	    {% endfor %}
	    </ul>
	</div>

</div>

{% endblock %}
