{% extends "pagebase.html" %}
{% load price %}

{% block title %}Checkout | TexTrader{% endblock %} 
{% block content %}
<h1>Checkout</h1>
<p>You have committed to buying the following items:</p>
<div class='basket'>
<ul>
{% for entry in basket %}
<li>
<div class='listing-entry'>
<span><img class='listing-image' src='{{ entry.book.picture }}' alt='Book image' /></span>
<span class='listing-title'>{{ entry.book.title }}</span>
<span class='listing-seller'>Seller: {{ entry.user.firstName }} {{ entry.user.lastName }}</span>
<span class='listing-price'>&pound; {{ entry.price|to_price }}</span>
</div>
</li>
{% endfor %}
</ul>
<div class='paypal-button'>
{% autoescape off %}
{{ ppcheckout }}
{% endautoescape %}
</div>
</div>
{% endblock %}
