{% extends "pagebase.html" %}
{% load price %}

{% block title %}Checkout | TexTrader{% endblock %} 
{% block content %}
<h1>Your basket</h1>
<div class='basket'>
<form action='/checkout/update' method='POST'>
<ul>
{% for entry in basket %}
<li>
<div class='basket-entry'>
<span><img class='listing-image' src='{{ entry.book.picture }}' alt='Book image' /></span>
<span class='listing-title'>{{ entry.book.title }}</span>
<span class='listing-seller'>Seller: {{ entry.user.name }}</span>
<span class='listing-price'>&pound; {{ entry.price|to_price }}</span>
<span class='listing-remove'><input type='checkbox' name='remove_{{ entry.key }}' value='1' /></span>
</div>
</li>
{% endfor %}
</ul>
</form>
{% autoescape off %}
{{ ppcheckout }}
{% endautoescape %}
</div>
{% endblock %}
