{% extends "pagebase.html" %}

{% block content %}

<h1>Create Book</h1><br />
    <form action="/create_book" method="post">
	<div>ISBN: <input type="text" name="isbn"</div>
	<div>Title: <input type="text" name="title"</div>
	<div>Author: <input type="text" name="author"</div>
	<div>Year: <input type="text" name="year"</div>
	<div>Edition: <input type="text" name="edition"</div>
	<div>Publisher: <input type="text" name="publisher"</div>
	<div>RRP: <input type="text" name="rrp"</div>
	<div>Picture: <input type="text" name="picture"</div>
	<div><input type="submit" value="Create"></div>
</form>

{% endblock %}
