{% extends "pagebase.html" %}
{% load price %}

{% block title %}TexTrader - Home{% endblock %}

{% block content %}
<div class="home">
    <h1>Recent listings</h1>
    {% if not book_list %}There haven't been any listings put up recently.{% endif %}
    <ul class="book-list">
    {% for listing in book_list %}
        <a href="/listing/{{listing.key}}" class="listing-link">
        <li class="book-listing">
            <div class="listing-image"><img class="listing-image-small" src="{{ listing.book.picture }}" alt="Image for {{ listing.book.isbn }}" /></div>
            <div class="listing-info">
                <span class="listing-title">{{ listing.book.title }}</span> - <span class="listing-author">{{ listing.book.author }}</span><br>
                <span class="listing-price">&#163;{{ listing.price|to_price }}</span>
                <span>from {{listing.user.firstName}} {{listing.user.lastName}}</span>
            </div>
        </li>
        </a>
        
        {% if not forloop.last %}
        <hr class="fade" \>
        {% endif %}
    {% endfor %}
    </ul>
</div>

{% endblock %}
