{% extends "pagebase.html" %}

{% block title %}TexTrader - Inbox{% endblock %}

{% block content %}
<div class="home">
    <h1>Inbox</h1>
    {% if not user_messages %}You have no messages{% endif %}
    {% for message in user_messages %}
    <div class="message">
        <p>From: {{ message.fromUser.firstName }} {{ message.fromUser.lastName }}</p>
        <p><label>Subject: </label>{{ message.subject }}</p>
        <p><label>Message: </label><div class="message-body">{{ message.body }}</div></p>
        <p><label>Sent on:</label><span>{{ message.sent }}</span></p>
    </div>
    {% endfor %}
</div>

{% endblock %}
