{% extends "pagebase.html" %}

{% block content %}
<script type="text/javascript" src="/js/TemplateBook.js"></script>
<h1>List a book for sale</h1>
{% if error %}
    <div class='error'>Error: {{error}}</div>
{% endif %}
<div id='accordion'>
<h3>List a book based on a template</h3>
<div id='existingbook'>
    <form action='list_book' method='POST'>
    <p>Select the book you wish to list:
    <select name='template_isbn' id='template_isbn' onchange="TemplateBook.Run();">
    <option value="">Select a book from the list</option>
    {% for book in books %}
    <option value="{{book.isbn}}">{{book.title}} (Edition: {{book.edition}}, Year: {{book.year}})</option>
    {% endfor %}
    </select></p>
    <div id='existing_info'>
        <table>
            <tr>
            <th>ISBN:</th><td id="json_isbn"></td>
            <th>Author:</th><td id="json_author"></td>
            </tr>
            <tr>
            <th>Edition:</th><td id="json_edition"></td>
            <th>Year:</th><td id="json_year"></td>
            </tr>
            <tr>
            <th>Publisher:</th><td id="json_publisher"></td>
            <th>RRP:</th><td id="json_rrp"></td>
            </tr>
        </table>
    </div>
    <p><label for="existing_price">Your price:</label><input type="text" name="price" id="existing_price" /></p>
    <p><label for="existing_condition">Condition of your item:</label>
        <select name="condition" id="new_condition" />
            <option value="1">New</option>
            <option value="2">As New</option>
            <option value="3">Used</option>
            <option value="4">Damaged</option>
        </select>
    </p>
    <p><input type='submit' value='List my item' /></p>
    </form>
</div>

<h3>My book isn't listed?</h3>
<div id='notlisted'>
    <form action="/list_book" method="post">
    <div>ISBN: <input type="text" name="isbn" /></div>
    <div>Title: <input type="text" name="title" /></div>
    <div>Author: <input type="text" name="author" /></div>
    <div>Year: <input type="text" name="year" /></div>
    <div>Edition: <input type="text" name="edition" /></div>
    <div>Publisher: <input type="text" name="publisher" /></div>
    <div>RRP: <input type="text" name="rrp" /></div>
    <div>Picture: <input type="text" name="picture" /></div>
    <p><label for="new_price">Your price:</label><input type="text" name="price" id="new_price" /></p>
    <p><label for="new_condition">Condition of your item:</label>
        <select name="condition" id="new_condition" />
            <option value="1">New</option>
            <option value="2">As New</option>
            <option value="3">Used</option>
            <option value="4">Damaged</option>
        </select></p>
    <div><input type="submit" value="Create"></div>
    </form>
</div>
</div>
<script type='text/javascript'>
$('#accordion').accordion({ heightStyle: "content" });
</script>
{% endblock %}
