{% extends "pagebase.html" %}

{% block title %}TexTrader - {{ book.title }}{% endblock %}
{% block content %}

<div class="current_book_details">

    <img src="cover" alt="cover">

    <h2>Seller Details</h2>
    <p><strong>Name: {{ seller.firstName }} {{ seller.lastName }}</strong></p>
    <p><strong>Reputation:</strong> {{ seller.reputation }}</p>
    <h2>Book Details</h2>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>RRP: &#163;{{ book.rrp }}</p>
    <p>Publisher: {{ book.publisher }}</p>
    <p>Edition: {{ book.edition }}</p>
    <p>Year: {{ book.year }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <br>
    <p><strong>Book condition: {{ current_book.condition }}</strong></p>
    <p><strong>Price: &#163;{{ current_book.price }}</strong></p>

</div>

<div class="other_listings">
    <h2>Other listings of this book:</h2>
    <ul>
    {% for book_copy in same_books %}
        <li class="book-listing">
            <div class="listing-image">{{ book.image }}<div><span class="listing-info">{{ book.title }}</span>
            <span class="listing-price">&#163;{{ book_copy.price }}</span><span class="listing-author">{{ book.author }}</span>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="related_listings">
    <h2>Related books:</h2>
    <ul>
    {% for book in related_books %}
        <li class="book-listing">
            <div class="listing-image">{{ book.image }}<div><span class="listing-info">{{ book.title }}</span>
            <span class="listing-price">{{ book.price }}</span><span class="listing-author">{{ book.author }}</span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
