{% extends "pagebase.html" %}
{% load price %}

{% block title %}TexTrader - {{ book.title }}{% endblock %}
{% block content %}

<div class="current_book_details">

    <div id='listing-image'><img class='listing-image' src="/book/{{book.isbn}}/image" alt="cover"></div>
    <h1>{{ book.title }}<h1>
    <h2>Author: {{ book.author }} ({{ book.year }})</h2>
    
    <div class="listing-book-details">
    <h3>Book Details</h3>
    <span><strong>RRP:</strong> &#163;{{ book.rrp|to_price }}</span><br />
    <span><strong>Publisher:</strong> {{ book.publisher }}</span><br />
    <span><strong>Edition:</strong> {{ book.edition }}</span><br />
    <span><strong>ISBN:</strong> {{ book.isbn }}</span><br />
    </div>
    
    <div class="listing-seller-details">
    <h3>Seller Details</h3>
    <span><strong>Name:</strong> <a href="/user/{{ seller.key }}">{{ seller.firstName }} {{ seller.lastName }}</a></span><br />
    <span><strong>Reputation:</strong> {{ seller.reputation }}</span><br />
    {% if user != None %}<a href="/message/{{ seller.key }}">Send a message to the seller</a>{% endif %}
    </div>
    
    <br>
    <p><strong>Book condition: {{ current_book.condition }}</strong></p>
    <p><strong>Price: &#163;{{ current_book.price|to_price}}</strong></p>
    {% if not user == None %}
    <p><form action="/basket/add" method="post">
    <input type="hidden" name="item" value="{{ current_book.key }}" />
    <input type="submit" name="submit" value="Add to basket" />
    </form></p>
    {% endif %}
</div>

<div class="other-listings">
    <h2>Other listings of this book:</h2>
    <div class="more">
        <ul>
        {% for book_copy in same_books %}
            {% if book_copy.key != listing.key %}
            <a href="/listing/{{book_copy.key}}" class="listing-link">
            <li class="listing-small">
                <img class='listing-image-small' src="/book/{{book_copy.book.isbn}}/image" alt="cover" />
                <span class="listing-title">{{ book_copy.book.title }}</span><br />
                <span class="listing-price">&#163;{{ book_copy.price|to_price }}</span>
                <span class="listing-author"> ({{ book_copy.condition }})</span><br><br><br>
                <span class="listing-author">from {{ book_copy.user.firstName }} {{ book_copy.user.lastName }}</span>
            </li>
            </a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
