{% extends "pagebase.html" %}

{% block title %}TexTrader Login{% endblock %}
{% block content %}
<div class="user-login">
    <h1>Login</h1>
    <form action="/user/login" method="POST">
        <p><label>Email:</label><input type="email" name="email" placeholder="example@mail.com" class="input" /></p>
        <p><label>Password:</label><input type="password" name="password" placeholder="Password" class="input" /><br \>
        	<small>( <a href="/login/forgotten">Forgotten your password?<a/> )</small></p>
        <input type="submit" value="Login" class="submit-button" />
    </form>
</div>
{% endblock %}