{% extends "pagebase.html" %}

{% block title %}TexTrader - Message{% endblock %}

{% block content %}
<div class="home">
    <h1>Message</h1>
    <p>To: {{ send_user.firstName }} {{ send_user.lastName }}</p>
    <form action="/message/?email={{ send_user.email }}" method="POST">
        <p>Subject: <input type="text" name="subject" placeholder="Message subject" /></p>
        <p>Message:<br>
            <textarea name="message" placeholder="Enter your message here...">
            </textarea>
        </p>
        <input type="submit" value="Send" />
    </form>
</div>

{% endblock %}
