<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/textrader.css" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <div class="banner">
                <a href="/"><img src="/images/logo.png" alt="TexTrader Logo" /></a>
            </div>
            <nav class="navigation-bar">
                {% if gae_user != None %}
                <a href="/">Home</a> | <a href="/help">Help</a> | <a href="/account">My Account</a> | 
                <a href="/basket">Basket(0)</a>
                {% else %}
                <a href="/">Home</a> | <a href="/help">Help</a> | <a href="/login">Login</a> | 
                <a href="/register">Register</a>
                {% endif %}
            </nav>
        </div>

        <div class="search-bar">
            <div class="welcome-user">
                <small>Welcome, <strong>{% if gae_user != None %}Name!<br>(<a href="/user/logout">logout</a>)
                {% else %} Guest!{% endif %}</strong></small>
            </div>
            <div class="search-form">
                <form action="/search" method="get">
                    <input type="search" class="input" />
                    <select class="select-category">
                        <option="none">Categories</option>
                        <option="other">Other</option>
                    </select>
                    <input type="submit" value="Search" />
                    <span class="advanced-search"><a href="/search">Advanced<br>Search</a></span>|
                    <span class="browse"><a href="/browse">Browse</a></span>
                </form>
            </div>
        </div>

        <div class=main-content>
        {% block content %}{% endblock %}
        </div>

        <div class="footer">
        </div>
    </body>
</html>