{% extends "pagebase.html" %}

{% block title %}TexTrader Register{% endblock %}
{% block content %}
<div class="register-form">
    <h1>Register</h1>
    <form action="/register" method="post">
        <p><label>First Name:</label><input type="text" name="firstname" placeholder="John" class="input"></p>
        <p><label>Last Name:</label><input type="text" name="lastname" placeholder="Smith" class="input"></p>
        <p><label>Email:</label><input type="email" name="email" placeholder="example@mail.com" class="input"></p>
        <p><label>Confirm Email:</label><input type="email" name="email2" placeholder="example@mail.com" class="input"></p>
        <p><label>Year of study:</label>
            <select name="year">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">Postgraduate</option>
            </select></p>
        <div><input type="submit" value="Register" class="submit-button"></div>
    </form>
</div>
{% endblock %}