{% extends "pagebase.html" %}

{% block title %}TexTrader - Search{% endblock %}

{% block content %}
<div class="home">
    <h1>Search Results</h1>
    <ul class="book-list">
    {% for book in book_list %}
        <a href="/book/{{book.isbn}}" class="listing-link">
        <li class="book-listing">
            <div class="listing-image">{{ book.image }}</div>
            <div class="listing-info">
                <span class="listing-title">{{ book.title }}</span> - <span class="listing-author">{{ book.author }}</span><br>
            </div>
        </li>
        </a>
        
        {% if not forloop.last %}
        <hr class="fade" \>
        {% endif %}
    {% endfor %}
    </ul>
</div>

{% endblock %}
