{% extends "pagebase.html" %}

{% block title %}TexTrader - Sentbox{% endblock %}

{% block content %}
<div class="home">
    <h1>Inbox</h1>
    {% if not user_messages %}You haven't sent any messages{% endif %}
    {% for message in user_messages %}
        <p>To: {{ message.toUser.firstName }} {{ message.toUser.lastName }}</p>
        <label>Subject: </label><div class="message-subject" style="border: 1px solid black">{{ message.subject }}</div><br>
        <label>Message: </label><div class="inbox-message" style="border: 1px solid black"><label>Message: </label>{{ message.message }}</div>
        <label>Sent on:</label><span>{{ message.sent }}</span>
    {% endfor %}
</div>

{% endblock %}
