{% extends "pagebase.html" %}

{% block title %}TexTrader - Sentbox{% endblock %}

{% block content %}
<div class="home">
    <h1>Sentbox</h1>
    {% if not user_messages %}You haven't sent any messages{% endif %}
    {% for message in user_messages %}
    <div class="message">
        <p><label>To: </label>{{ message.toUser.firstName }} {{ message.toUser.lastName }}</p>
        <p><label>Subject: </label>{{ message.subject }}</div></p>
        <p><label>Message: </label><div class="message-body">{{ message.body }}</div></p>
        <p><label>Sent on:</label><span>{{ message.sent }}</span></p>
    </div>
    {% endfor %}
</div>

{% endblock %}
